.axis path,
.axis line{
  fill: none;
  stroke: black;
}

.line{
  fill: none;
  stroke: blue;
  stroke-width: 2px;
}

.tick text{
  font-size: 12px;
}

.tick line{
  opacity: 0.2;
}

.charts {
  text-align:center;
  width:100%;
}

.left-chart, .right-chart {
  display:inline-block;
  position:relative;
  margin:2em;
}

.charts rect {
  opacity:.5;
}

.key {
  @extend %inline-list;
  margin:20px;
}

.key > * {
  display:inline-block;

  &:before {
    content:"";
    display:inline-block;
    width:20px;
    height:20px;
    opacity:.5;
    margin:0px 10px -4px;
  }
}

.key__normal {
  &:before {
    background-color:#c4e3ff;
  }
}

.key__mild {
  &:before {
    background-color:#88c1f8;
  }
}

.key__moderate {
  &:before {
    background-color:#358ee0;
  }
}

.key__severe {
  &:before {
    background-color:#136fc4;
  }
}

.key__profound {
  &:before {
    background-color:#03519b;
  }
}

.frequency-title {
  font-size:1em;
}

.intensity-title {
  font-size:1em;
  @include transform(rotate(-90deg));
  position:absolute;
  left: -53px;
  top: 310px;
}
